$background-color: green;

$content-width: 600px;

$content-border: solid 10px #fff;

body {
  background-color: $background-color;
  margin: 0;
  padding: 0;
}

.content {
  padding: 10px;
  width: $content-width;
  border: $content-border;
  margin: 0 auto;
}
